<ion-view cache-view="false">
    <!--<ion-nav-title>단말기 인증번호</ion-nav-title>-->
    <ion-content padding="true">
        <div class="padding">
            <h3 class="t-center padding">인증번호</h3>
            <h2 class="t-center padding">{{svAuth.auth_no}}</h2>
            <h5 class="t-center padding">인증 번호를 관리 단말기에 입력해주세요.</h5>
        </div>
        <div class="row">
            <button class="button button-block button-calm" ng-click="goDemo()">데모화면보기</button>
        </div>
    </ion-content>
</ion-view>