<ion-view cache-view="false">
    <ion-content>
        <div ng-if="clip_info.file_type.indexOf('image') == 0" style="text-align: center;">
            <img ng-src="{{clip_info.content}}" class="fullscreen-image" />
        </div>
        <div ng-if="clip_info.file_type.indexOf('video') == 0" style="text-align: center;">
            <video controls autoplay width="100%">
                <source ng-src="{{clip_info.content}}" type="{{clip_info.file_type}}">
                비디오플레이가 지원되지 않습니다. 브라우저를 업데이트하세요.
            </video>
        </div>
    </ion-content>
</ion-view>